.commentFBType{
    width: 100%;
    min-height: 2vh;
    border-radius: 2%;
    background-color: white;
}
.commenter{
    text-decoration: underline;
    font-family: blackburger;
}

.answer{
    font-family: "Ink Free";
    font-weight:bold;
}

.likeCount{
    font-family: blackburger;
    color: royalblue;
    position: relative;
    top: 5px;
}

li{
    position: relative;
    left: 25px;
}
.score{
    position: relative;
    top: 5px;
    margin: 3px;
}