.notif-count{
    margin-left: -7px !important;
    font-size: 10px;
}

.notificationBigBox {
    /*background: navajowhite;*/
    /*position: absolute;*/
    border-radius: 5px;
    height: auto;
    padding: 8px;
    border: .5px solid goldenrod;
}

@media only screen and (max-width: 1000px) {
    .notificationBigBox {
        /*In small Screen*/
        /*width: 90vw;*/
        /*margin-left: -40vw;*/
    }
}

@media only screen and (min-width: 1001px) {
    .notificationBigBox {
        /*In small Screen*/
        /*width: 20vw;*/
        /*max-height: 20vw;*/
        /*overflow-y:auto;*/
    }
}

.notifBox{
    margin-top: 0!important;
    margin-bottom: 0!important;
}

.Bignotification{
    /*border-top: 0.5px solid lightgrey;*/
    border-bottom: .5px solid lightgrey;
    color: darkgoldenrod;
    /*background-color: antiquewhite;*/
    padding: 5px;
    border-radius: 6px;
    font-family: "MV Boli";
    display: block;
}
.Bignotification:hover{
    opacity: 0.8;
    font-weight: bold;
}
