.commentDiv {
    display: flex;
    align-content: center;
    /* width: 100vw; */
    height: 100%;
   
    /* text-align: center; */
    justify-content: center;
    /* align-items: center; */
}

.commentBox {
    width: 100%;
    
}