.like
{
    width: 24px;
    height: 24px; 
    display: inline-block; 
    background-image: url("https://unpkg.com/emoji-datasource-apple@5.0.1/img/apple/sheets-256/64.png"); 
    background-size: 5700% 5700%; 
    background-position: 23.2143% 69.6429%;

    /*dark*/
    
}

.secret
{
    margin: 5px;
    border: 1px dashed blue;
}

.answer{
    width: 60%;
    display: inline;
    margin: 5px;
}

.containerFluid{
    width: 100%;
}

.like:hover {
    width: 35px;
    height: 35px; 
    display: inline-block; 
    background-image: url("https://unpkg.com/emoji-datasource-apple@5.0.1/img/apple/sheets-256/64.png"); 
    background-size: 5700% 5700%; 
    background-position: 23.2143% 69.6429%;
}
