.like
{
    width: 24px;
    height: 24px; 
    display: inline-block; 
    background-image: url("https://unpkg.com/emoji-datasource-apple@5.0.1/img/apple/sheets-256/64.png"); 
    background-size: 5700% 5700%; 
    background-position: 23.2143% 69.6429%;

    /*dark*/
    
}

.secret
{
    margin: 10px;
    margin-left: 0;
    padding: 5px;
    border: 1px dashed yellow;
    font-family: "Cambria";
    font-weight: bolder;
}

.answer{
    width: 60%;
    display: inline;
    margin: 5px;
}

.containerFluid{
    width: 100%;
}

.like:hover{
    transform: scale(1.5);
    cursor: pointer;
}
