.emoji-input-box{
    width: 100%;
    min-height: 50px;
    overflow-y: scroll;
    border: 1px dashed black;
    pointer-events: none;
}

button{
    margin:5px !important;
    margin-left: 0 !important;
}

#maintext{
    margin: 5px;
    margin-left:0;
}