/* body {
    margin: 0;
}

.App {
    text-align: center;
    background: #282c34;
}

.App-logo {
    height: 40vmin;
} */

.App-header {
    /* background-color: #282c34; */
    min-height: 100vh;
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: center;
    font-size: calc(10px + 2vmin);
    /* color: white; */
}

/* .App-link {
    color: #09d3ac;
} */

.App-width{
    width: 100vw;
}

.App-header2 {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    /* flex-direction: column; */
    align-content: center;
    align-self: center;
}

.loader {
    /*border: 16px solid #f3f3f3; !* Light grey *!*/
    border-top: 5px solid blue;
    border-bottom: 5px solid blue;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
