.container-fluid{
    position: relative;
    top: 20px !important;
}

.loader {
    /*border: 16px solid #f3f3f3; !* Light grey *!*/
    border-top: 5px solid blue;
    border-bottom: 5px solid blue;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
body{
    background-color: rgba(248,206,236,0.1);
    background-image: url('./logo.png');
    background-size: 300px;
}

@media screen and (max-width: 740px) {
    .p-sm-0{
        padding: 0;
    }
}

/*.postCol{
    !*background-color: rgba(211,211,211,0.5);*!
    padding: 0;
}*/
