.commentFBType{
    width: 100%;
    min-height: 2vh;
    border-radius: 2%;
    background-color: white;
}
.commenter{
    text-decoration: underline;
}

li{
    position: relative;
    left: 25px;
}